######################################
## Minio Server Service
######################################
apiVersion: v1
kind: Service
metadata:
  name: minio-server-svc
  namespace: airflow
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    component: minio
  ports:
    - name: minio-port
      protocol: TCP
      port: 9000
      targetPort: minio-port
---
######################################
## Minio UI Service
######################################
apiVersion: v1
kind: Service
metadata:
  name: minio-console-svc
  namespace: airflow
spec:
  type: ClusterIP
  selector:
    component: minio
  ports:
    - name: minio-console
      protocol: TCP
      port: 9001
      targetPort: minio-console
---
######################################
## Minio ConfigMap
######################################
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-config
  namespace: airflow
data:
  S3_LOGS_BUCKET: demo-logs
  S3_INPUTS_BUCKET: demo-input
  S3_WH_BUCKET: demo-warehouse
  S3_STG_BUCKET: demo-staging
---
######################################
## Minio Secret
######################################
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: airflow
type: Opaque
data:
  AWS_ACCESS_KEY_ID: bWluaW9hZG1pbg== # minioadmin
  AWS_SECRET_ACCESS_KEY: bWluaW9hZG1pbg== # minioadmin
  MINIO_ROOT_USER: bWluaW9hZG1pbg== # minioadmin
  MINIO_ROOT_PASSWORD: bWluaW9hZG1pbg== # minioadmin
---
######################################
## Minio PersistentVolume
######################################
apiVersion: v1
kind: PersistentVolume
metadata:
  name:  minio-pv
  namespace: airflow
spec:
  capacity:
    storage: 1Gi
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /home/minio
    type: DirectoryOrCreate
---
# ######################################
# ## Minio PersistentVolumeClaim
# ######################################
# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: minio-pvc
#   namespace: airflow
# spec:
#   storageClassName: ""
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 500Mi
# ---
######################################
## Minio StatefulSet
######################################
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio-deployment
  namespace: airflow
spec:
  serviceName: minio-svc
  replicas: 1
  selector:
    matchLabels:
      component: minio
  template:
    metadata:
      labels:
        component: minio
    spec:
      serviceAccountName: airflow-sa
      restartPolicy: Always
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      containers:
        - name: minio
          image: minio/minio:latest
          imagePullPolicy: IfNotPresent
          resources: {}
            # requests:
            #   cpu: "125m"
            #   memory: "128Mi"
            #   ephemeral-storage: "200Mi"
            # limits:
            #   cpu: "250m"
            #   memory: "256Mi"
            #   ephemeral-storage: "500Mi"
          args: ["server", "/data", "--console-address", ":9001"]
          volumeMounts:
            - name: minio-data
              mountPath: /data
          envFrom:
            - secretRef:
                name: minio-secret
          ports:
            - containerPort: 9000
              name: minio-port
            - containerPort: 9001
              name: minio-console
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: minio-data
      spec:
        volumeName: minio-pv
        storageClassName: ""
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 500Mi
---
######################################
## Minio Job
######################################
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-setup-job
  namespace: airflow
  labels:
    component: minio-setup-job
spec:
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      labels:
        component: minio-setup-job
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      restartPolicy: OnFailure
      volumes:
        - name: init-data
          emptyDir: {}
      initContainers:
        - name: data-generator
          image: iadebisi/ecommerce-data-generator
          imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
          args: ["--customers", "2000", "--sellers", "200", "--orders", "200000", "--format", "parquet", "--output_dir", "/tmp/data"]
          volumeMounts:
            - name: init-data
              mountPath: /tmp/data
      containers:
        - name: minio-client
          image: minio/mc
          imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
          command: ["/bin/sh", "-c"]
          volumeMounts:
            - name: init-data
              mountPath: /tmp/data
              readOnly: true
          args:
            - |
              sleep 5 &&
              mc alias set local http://minio-svc:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
              mc mb --ignore-existing local/${S3_LOGS_BUCKET};
              mc mb --ignore-existing local/${S3_INPUTS_BUCKET};
              mc mb --ignore-existing local/${S3_WH_BUCKET};
              mc mb --ignore-existing local/${S3_STG_BUCKET};
              mc cp --recursive /tmp/data/*.parquet local/${S3_INPUTS_BUCKET}/;
              echo "keep" | mc pipe local/${S3_LOGS_BUCKET}/spark-events/.keep;
          envFrom:
            - configMapRef:
                name: minio-config
            - secretRef:
                name: minio-secret
