apiVersion: v1
kind: Service
metadata:
  name: minio-svc
spec:
  type: ClusterIP
  selector:
    component: minio
  ports:
    - name: minio-port
      protocol: TCP
      port: 9000
      targetPort: minio-port
    - name: minio-console
      protocol: TCP
      port: 9001
      targetPort: minio-console
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: minio-config
data:
  S3_LOGS_BUCKET: logs
  S3_INPUTS_BUCKET: raw-inputs
  S3_WH_BUCKET: warehouse
  S3_STG_BUCKET: staging-area
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID: bWluaW9hZG1pbgo= # minioadmin
  AWS_SECRET_ACCESS_KEY: bWluaW9hZG1pbgo= # minioadmin
  MINIO_ROOT_USER: bWluaW9hZG1pbgo= # minioadmin
  MINIO_ROOT_PASSWORD: bWluaW9hZG1pbgo= # minioadmin
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name:  minio-pv
spec:
  capacity: 
    storage: 1Gi
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /home/data
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pv-claim
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
spec:
  selector:
    matchLabels:
      component: minio
  serviceName: minio
  replicas: 1
  template:
    metadata:
      labels:
        component: minio
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      containers:
        - name: minio
          image: minio/minio:latest
          imagePullPolicy: IfNotPresent
          restartPolicy: Always
          args: ["server", "/data", "--console-address", ":9001"]
          volumeMounts:
            - name: minio-data
              mountPath: /data
          envFrom:
            - secretRef:
                name: minio-secret
          ports:
            - containerPort: 9000
              name: minio-port
            - containerPort: 9001
              name: minio-console
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: minio-data
      spec:
        # volumeName: minio-storage
        # storageClassName: ""
        accessModes: 
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
---
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-setup-job
  labels:
    component: minio-setup-job
spec:
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      labels:
        component: minio-setup-job
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      restartPolicy: OnFailure
      volumes:
        - name: minio-data
          persistentVolumeClaim:
            claimName: minio-pv-claim
      initContainers:
        - name: data-generator
          image: iadebisi/ecommerce-data-generator
          imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
          args: ["--customers", "2000", "--sellers", "200", "--orders", "200000", "--format", "parquet", "--output_dir", "/tmp/data"]
          volumeMounts:
            - name: minio-data
              mountPath: /tmp/data
      containers:
        - name: minio-client
          image: minio/mc
          imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
          command: ["/bin/sh", "-c"]
          volumeMounts:
              - name: minio-data
                mountPath: /tmp/data
                readOnly: true
          args:
            - |
              sleep 5 &&
              mc alias set local http://minio-svc:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
              mc mb --ignore-existing local/${S3_LOGS_BUCKET};
              mc mb --ignore-existing local/${S3_INPUTS_BUCKET};
              mc mb --ignore-existing local/${S3_WH_BUCKET};
              mc mb --ignore-existing local/${S3_STG_BUCKET};
              mc cp --recursive /tmp/data/*.parquet local/${S3_INPUTS_BUCKET}/;
              echo "keep" | mc pipe local/${S3_LOGS_BUCKET}/spark-events/.keep;
          envFrom:
            - configMapRef:
                name: minio-config
            - secretRef:
                name: minio-secret
