# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
spark-events
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PySpark logs
*.log

# Virtual environments
venv/
ENV/
env/
.venv/
.ipynb_checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PySpark temp files
.metastore_db/
spark-warehouse/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# System files
Thumbs.db
desktop.ini

# csv files
*.csv*
