services:
  # data-gen:
  #   image: iadebisi/ecommerce-data-generator
  #   command: >
  #     --customers 20000
  #     --sellers 2000
  #     --orders 2000000
  #     --format parquet
  #   volumes:
  #       - ./raw_input:/data

  spark-master:
    container_name: spark-master
    build: spark/
    command: master
    environment:
      - SPARK_MODE=master
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - SPARK_PUBLIC_DNS=${SPARK_PUBLIC_DNS}
      - SPARK_SSL_ENABLED=no
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_MASTER_HOST=0.0.0.0
    ports:
      - "7077:7077"       # Spark master port
      - "8081:8080"       # Spark Master UI
      - "18080:18080"   # History server UI
    networks:
      spark-net:
      shared-network:
    depends_on:
      - minio
    volumes:
      - spark-events:/home/iceberg/spark-events
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512m


  spark-worker-one:
    build: spark/
    command: worker
    container_name: spark-worker-one
    environment:
      - SPARK_MODE=worker
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - SPARK_PUBLIC_DNS=${SPARK_PUBLIC_DNS}
      - SPARK_WORKER_CORES=${SPARK_WORKER_CORES}
      - SPARK_WORKER_MEMORY=${SPARK_WORKER_MEMORY}
      - SPARK_MASTER_URL=${SPARK_MASTER_URL}
    depends_on:
      - spark-master
    ports:
      - "8082:8081" # Spark Worker UI
    networks:
      spark-net:
      shared-network:
    volumes:
      - spark-events:/home/iceberg/spark-events

  spark-worker-two:
    build: spark/
    command: worker
    container_name: spark-worker-two
    environment:
      - SPARK_MODE=worker
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - SPARK_WORKER_CORES=${SPARK_WORKER_CORES}
      - SPARK_WORKER_MEMORY=${SPARK_WORKER_MEMORY}
      - SPARK_PUBLIC_DNS=${SPARK_PUBLIC_DNS}
      - SPARK_MASTER_URL=${SPARK_MASTER_URL}
    depends_on:
      - spark-master
    ports:
      - "8083:8081" # Spark Worker UI
    networks:
      spark-net:
      shared-network:
    volumes:
      - spark-events:/home/iceberg/spark-events

  spark-driver:
    build: spark/
    command: tail -f /dev/null
    container_name: spark-driver
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - SPARK_PUBLIC_DNS=${SPARK_PUBLIC_DNS}
      - SPARK_MODE=driver
      - SPARK_DRIVER_HOST=spark-driver
      - SPARK_MASTER_URL=${SPARK_MASTER_URL}
      - AWS_URL_ENDPOINT=${AWS_URL_ENDPOINT}
    depends_on:
      - spark-master
      - spark-worker-one
      - spark-worker-two
    ports:
      - "4040:4040"
    networks:
      spark-net:
    volumes:
      - spark-events:/home/iceberg/spark-events
      - ./airflow/dags/scripts:/home/scripts
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

  spark-notebook:
    build: spark/
    command: >
      jupyter notebook
      --ip=0.0.0.0
      --NotebookApp.token=''
      --NotebookApp.password=''
      --port=8888
      --no-browser
      --allow-root
    container_name: spark-notebook
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
      - SPARK_MODE=driver
      - SPARK_DRIVER_HOST=spark-notebook
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_DRIVER_CORES=1
      - SPARK_EXECUTOR_MEMORY=500m
      - SPARK_EXECUTOR_CORES=2
      - SPARK_EXECUTOR_INSTANCES=4
      - SPARK_PUBLIC_DNS=localhost
    ports:
      - "8888:8888"
      - "4041:4040"
    networks:
      spark-net:
    volumes:
      - spark-events:/home/iceberg/spark-events
      - ./notebooks:/home/iceberg/notebooks
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

  minio:
    image: minio/minio
    container_name: minio
    healthcheck:
      test: ["CMD", "curl", "-f", "http://minio:9000/minio/health/ready"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_DOMAIN=${MINIO_DOMAIN}
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      shared-network:
      spark-net:
        aliases:
          - warehouse.minio
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 2G

  console:
    image: opens3/console:latest
    container_name: opens3-console
    ports:
      - "9090:9090"
    networks:
      spark-net:
    environment:
      - CONSOLE_MINIO_SERVER=http://minio:9000
      - CONSOLE_PORT=9090
    depends_on:
      - minio

  mc:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
      # data-gen:
      #   condition: service_completed_successfully
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    networks:
      spark-net:
    volumes:
      - ./raw_input:/tmp/data
    entrypoint: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
      mc mb --ignore-existing local/${S3_LOGS_BUCKET};
      mc mb --ignore-existing local/${S3_INPUTS_BUCKET};
      mc mb --ignore-existing local/${S3_WH_BUCKET};
      mc cp --recursive /tmp/data/*.parquet local/${S3_INPUTS_BUCKET}/;
      exit 0;
      "
    restart: "no"

  iceberg-rest:
    image: tabulario/iceberg-rest
    container_name: iceberg-rest
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - CATALOG_WAREHOUSE=s3://${S3_WH_BUCKET}/
      - CATALOG_IO__IMPL=${CATALOG_IO__IMPL}
      - CATALOG_S3_ENDPOINT=${CATALOG_S3_ENDPOINT}
    ports:
      - "8181:8181"
    networks:
      spark-net:
    depends_on:
      - minio
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1G

volumes:
  minio-data:
  spark-events:

networks:
  spark-net:
    driver: bridge
  shared-network:
    driver: bridge
    external: true
