######################################
## Airflow Role
######################################
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: airflow-role
  namespace: airflow
  labels:
    tier: airflow
rules:
  - apiGroups:
      - ""
    resources:
      - "pods"
      - "pods/log"
      - "services"
      - "configmaps"
      - "secrets"
    verbs:
      - "create"
      - "list"
      - "get"
      - "patch"
      - "watch"
      - "delete"
  - apiGroups:
      - "list"
    resources:
      - "jobs"
    verbs:
      - "create"
      - "update"
      - "patch"
      - "delete"
