######################################
## Airflow Secret
######################################
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
  namespace: airflow
  labels:
    tier: airflow
    component: airflow-secrets
data:
  REDIS_PASSWORD: YWlyZmxvdw== # airflow
  POSTGRES_USER: YWlyZmxvdw== # airflow
  POSTGRES_PASSWORD: YWlyZmxvdw== # airflow
  POSTGRES_DB: YWlyZmxvdw== # airflow
  AWS_ACCESS_KEY_ID: bWluaW9hZG1pbg== # minioadmin
  AWS_SECRET_ACCESS_KEY: bWluaW9hZG1pbg== # minioadmin
  AWS_REGION: dXMtZWFzdC0x # us-east-1
  MINIO_ROOT_USER: bWluaW9hZG1pbg== # minioadmin
  MINIO_ROOT_PASSWORD: bWluaW9hZG1pbg== # minioadmin
  AIRFLOW_USER: YWlyZmxvdw== # airflow
  AIRFLOW_PASS: YWlyZmxvdw== # airflow
  AIRFLOW__API__SECRET_KEY: bXlyYW5kb21rZXk= # myrandomkey
  AIRFLOW__CORE__FERNET_KEY: bXlyYW5kb21rZXk= # myrandomkey
  AIRFLOW__API_AUTH__JWT_SECRET: bXlyYW5kb21rZXk= # myrandomkey
  # AIRFLOW__CELERY__BROKER_URL=redis://:airflow@redis-svc:6379/0
  AIRFLOW__CELERY__BROKER_URL: cmVkaXM6Ly86YWlyZmxvd0ByZWRpcy1zdmM6NjM3OS8w
  # AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql+psycopg2://airflow:airflow@postgres-svc/airflow
  AIRFLOW__CELERY__RESULT_BACKEND: ZGIrcG9zdGdyZXNxbCtwc3ljb3BnMjovL2FpcmZsb3c6YWlyZmxvd0Bwb3N0Z3Jlcy1zdmMvYWlyZmxvdw==
  # AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres-svc/airflow
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: cG9zdGdyZXNxbCtwc3ljb3BnMjovL2FpcmZsb3c6YWlyZmxvd0Bwb3N0Z3Jlcy1zdmMvYWlyZmxvdw==
