######################################
## Airflow ServiceAccount
######################################
---
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: true
metadata:
  name: airflow-sa
  namespace: airflow
  labels:
    tier: airflow
