apiVersion: v1
kind: PersistentVolume
metadata:
  name: airflow-pv
  namespace: airflow
  labels:
    tier: airflow
spec:
  capacity:
    storage: 1Gi
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /home/airflow
    type: Directory
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-pvc
  namespace: airflow
  labels:
    tier: airflow
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
