apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
  namespace: airflow
  labels:
    tier: airflow
    component: airflow-secrets
data:
  AIRFLOW__API__SECRET_KEY: bXlyYW5kb21rZXk=
  AIRFLOW__CELERY__RESULT_BACKEND: ZGIrcG9zdGdyZXNxbDovL2FpcmZsb3c6JGFpcmZsb3dAcG9zdGdyZXMvYWlyZmxvdw==
  AIRFLOW__CORE__EXECUTOR: Q2VsZXJ5RXhlY3V0b3I=
  AIRFLOW__CORE__FERNET_KEY: bXlyYW5kb21rZXk=
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: cG9zdGdyZXNxbCtwc3ljb3BnMjovL2FpcmZsb3c6YWlyZmxvd0Bwb3N0Z3Jlcy9haXJmbG93
