apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: true
metadata:
  name: airflow-sa
  namespace: airflow
  labels:
    tier: airflow

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: airflow-role
  namespace: airflow
  labels:
    tier: airflow
rules:
  - apiGroups:
      - ""
    resources:
      - "pods"
      - "pods/log"
      - "services"
      - "configmaps"
      - "secrets"
    verbs:
      - "create"
      - "list"
      - "get"
      - "patch"
      - "watch"
      - "delete"
  - apiGroups:
      - "list"
    resources:
      - "jobs"
    verbs:
      - "create"
      - "update"
      - "patch"
      - "delete"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: airflow
  name: airflow-rolebinding
  labels:
    tier: airflow
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: airflow-role
subjects:
  - kind: ServiceAccount
    name: airflow-sa
    namespace: airflow
