apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: airflow
commonAnnotations:
  deployment: airflow-spark-demo
labels: []
resources:
  - shared/namespace.yaml
  - shared/service-account.yaml
  - shared/role.yaml
  - shared/role-binding.yaml
  - shared/configmap.yaml
  - shared/secrets.yaml
  - shared/pv.yaml
  - shared/pvc.yaml

  - statefulsets/minio.yaml
  - statefulsets/postgres.yaml
  - statefulsets/redis.yaml
  - statefulsets/airflow-worker.yaml

  - jobs/minio.yaml
  - jobs/run-migration.yaml
  - jobs/create-user.yaml
  - jobs/add-connection.yaml

  - deployments/api-server.yaml
  - deployments/dag-processor.yaml
  - deployments/scheduler.yaml
  - deployments/spark-master.yaml
  - deployments/spark-worker.yaml
  - deployments/flower.yaml

  - ingress/ingress.yaml
