######################################
## API Server Service
######################################
apiVersion: v1
kind: Service
metadata:
  name: api-server-svc
  namespace: airflow
spec:
  type: ClusterIP
  selector:
    component: api-server
  ports:
    - name: api-server-ui
      protocol: TCP
      port: 8080
      targetPort: api-server-ui
---
######################################
## API Server Deployment
######################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
  namespace: airflow
  labels:
    tier: airflow
    component: api-server
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: airflow
      component: api-server
  template:
    metadata:
      labels:
        tier: airflow
        component: api-server
    spec:
      serviceAccountName: airflow-sa
      restartPolicy: Always
      securityContext:
        runAsUser: 50000
        fsGroup: 0
      volumes:
        - name: airflow-data
          persistentVolumeClaim:
            claimName: airflow-pvc
      initContainers:
        - name: wait-for-airflow-migrations
          resources: {}
          image: iadebisi/airflow-spark
          imagePullPolicy: IfNotPresent
          securityContext: {}
          args:
            - airflow
            - db
            - check-migrations
            - --migration-wait-timeout=60
          volumeMounts:
            - name: airflow-data
              mountPath: "/opt/airflow/airflow.cfg"
              subPath: config/airflow.cfg
              readOnly: true
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
      containers:
        - name: api-server
          image: iadebisi/airflow-spark
          imagePullPolicy: IfNotPresent
          command: ["bash", "-c", "exec airflow api-server"]
          resources: {}
            # requests:
            #   cpu: "200m"
            #   memory: "500Mi"
            # limits:
            #   cpu: "400m"
            #   memory: "1Gi"
          volumeMounts:
            - name: airflow-data
              mountPath: /opt/airflow/logs
              subPath: logs
            - name: airflow-data
              mountPath: /opt/airflow/dags
              subPath: dags
              readOnly: true
            - name: airflow-data
              mountPath: "/opt/airflow/airflow.cfg"
              subPath: config/airflow.cfg
              readOnly: true
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
          ports:
            - name: api-server-ui
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v2/version
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            failureThreshold: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v2/version
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            failureThreshold: 3
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /api/v2/version
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            failureThreshold: 3
            periodSeconds: 10
