######################################
## Scheduler Deployment
######################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler-deployment
  namespace: airflow
  labels:
    tier: airflow
    component: scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: airflow
      component: scheduler
  template:
    metadata:
      labels:
        tier: airflow
        component: scheduler
    spec:
      serviceAccountName: airflow-sa
      securityContext:
        runAsUser: 50000
        fsGroup: 0
      volumes:
        - name: airflow-data
          persistentVolumeClaim:
            claimName: airflow-pvc
      initContainers:
        - name: wait-for-airflow-migrations
          image: iadebisi/airflow-spark
          imagePullPolicy: IfNotPresent
          resources: {}
          volumeMounts:
            - name: airflow-data
              mountPath: "/opt/airflow/airflow.cfg"
              subPath: config/airflow.cfg
              readOnly: true
          args:
            - airflow
            - db
            - check-migrations
            - --migration-wait-timeout=60
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
      containers:
        - name: scheduler
          image: iadebisi/airflow-spark
          imagePullPolicy: IfNotPresent
          command: []
          args:
            - bash
            - -c
            - exec airflow scheduler
          resources: {}
            # requests:
            #   cpu: "200m"
            #   memory: "256Mi"
            # limits:
            #   cpu: "400m"
            #   memory: "512Mi"
          volumeMounts:
            - name: airflow-data
              mountPath: "/opt/airflow/dags"
              subPath: dags
              readOnly: true
            - name: airflow-data
              mountPath: "/opt/airflow/airflow.cfg"
              subPath: config/airflow.cfg
              readOnly: true
            - name: airflow-data
              mountPath: "/opt/airflow/logs"
              subPath: logs
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
          livenessProbe:
            initialDelaySeconds: 30
            timeoutSeconds: 20
            failureThreshold: 5
            periodSeconds: 60
            exec:
              command:
                - sh
                - -c
                - |
                  exec /entrypoint \
                  airflow jobs check --job-type SchedulerJob --local
